version: '4.0.{build}'
skip_tags: true
image: Visual Studio 2017
configuration: Release
install:
  - ps: mkdir -Force ".\build\" | Out-Null
  - ps: dotnet --info
build_script:
- ps: .\build.ps1
test: off
artifacts:
  - path: artifacts/*.nupkg
deploy:
- provider: NuGet
  api_key:
    secure: RUS6oT9T2Yip1O+n5W9xhI0By46FrdutvQzNWqLRf8qeGNYMDxvj30fVyWnFYv/n
  skip_symbols: false
  artifact: /.*\.nupkg/
  on:
    branch: master
